:root {
  --cobalt-50:  #edf8ff;
  --cobalt-100: #d6edff;
  --cobalt-200: #b7e2ff;
  --cobalt-300: #85d1ff;
  --cobalt-400: #4bb7ff;
  --cobalt-500: #2294ff;
  --cobalt-600: #0a74ff;
  --cobalt-700: #045cf1;
  --cobalt-800: #0a46b9;
  --cobalt-900: #0f4299;
  --cobalt-950: #0f295c;
}